
/* remember to define focus styles! */
* {
    box-sizing: border-box;
}
body {width: 100%;

background-color: #ededed;
}

main {
    width: 75%;  margin: 0 auto;
    background-color: #fff;
/*font-family:"Bosch Sans Light","Helvetica Neue",Helvetica,Arial,sans-serif!important; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    color: #000;
}

nav .line {

  /*  background-image:   url( https://www.bosch-professional.com/resources/img/brand/supergraphic_horizontal.svg); */
    background-image:   url(../images/features/supergraphic_horizontal.svg);
    background-position: 0 -100px;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: table;
    height: 15px;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
   margin: 10px 0 30px 0;
    z-index: 10;

}

/*Хлебные крошки */
#crumbs{
    font:71%/165% "Lucida Grande", Lucida, Verdana, sans-serif;

}
ul, li {
    list-style-type:none;
    padding:0;
    margin:0 ;
}
#crumbs {
    height:2.3em;
    border:1px solid #dedede;
}
#crumbs li {
    float:left;
    line-height:2.3em;
    color:#777;
    padding-left:.75em;
}
#crumbs li a {
    background:url(../images/features/crumbs.gif) no-repeat right center;
    display:block;
    padding:0 15px 0 0;
}
#crumbs li a:link,
#crumbs li a:visited {
    color:#777;
    text-decoration:none;
}
a:link, a:visited,
#crumbs li a:hover,
#crumbs li a:focus {
    color:#dd2c0d;
text-decoration: none;
}




.wrap {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wrap .logo .ltitle{
    width: 250px;
}


.menu-call .menu-wrap{
    display: flex; align-items: center;
    display: -webkit-flex;
}

.wrap .menu-call p {
    padding: 0 40px 5px 40px;
}

.wrap .menu-call p:hover{
   box-sizing: padding-box;
    background-color:#F1F1F1;
    border-radius: 50px;
  /*  padding-top: 10px;
   padding-bottom: 10px;*/
    display: inline-block;

}

.menu-call .menu-wrap .search {
    display: inline-block;
    height: 22px;
    border: 0px solid #fff;
    border-bottom: 1px solid #ccc;
    width:250px;
    cursor: pointer;
padding-left: 5px;
padding-top: 20px;
    padding-bottom: 10px;
   /* font-size: 12px; */
}

.menu-call a {
    color: black;
    text-decoration: none;
}
/* .menu-search-window span {
     content: ''; width: 300px;
     height: 1px; background-color: #0c0c0c;
     display: inline-block;
    margin: 0 10px 0 0;
     line-height: 0;
     font-size: 0;
 } */

/*.menu-search-art i:before{
    content: ''; width: 100px;
    height: 1px; background-color: #0c0c0c;
    display: inline-block;
    margin-right:10PX;
} *


/* меню синяя полоса - главная */
nav .wrap1 menu1 {
   margin: 0px 0px 10px 0;
    text-decoration: none;

    align-items: center;
   background-color: #005691;
    /*   background-image: linear-gradient(to top, rgba(30,87,153,0), rgba(30,87,153,0.8), rgba(30,87,153,1),
      rgba(30,87,153,1), rgba(41,137,216,1), rgba(30,87,153,1), rgba(30,87,153,1),
      rgba(30,87,153,0.8),rgba(30,87,153,0));
      color: #fff; padding: 10px;*/
      flex-wrap: wrap;
      display: flex;

    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px ;
}


.wrap1 menu1 li a{
    color: #fff;
    text-decoration: none;
}
.wrap1 menu1 .pointer:hover{
    background-color: white;

    padding: 9px 0 8px 0;
}

.wrap1 menu1 .pointer p:hover {
color: #005691;
}
.wrap1 menu1 .pointer1:hover{
    background-color: white;

    padding: 8px 0 8px 0px;
}
.wrap1 menu1 .pointer1 a:hover {
    color: #005691;
}
/* конец  меню синяя полоса - главная */


@media all and (max-width: 560px){
    nav .logo{ text-align: center;}
}


/* панель каталог ...*/
section.profit .container-wrap{
    display: flex; flex-direction: row;
    display: -webkit-flex;
    width:100%;
    flex-wrap: wrap;
}
/*section.profit .container-wrap .container-wrap-row {
    background-image: url(../images/features/images0012.jpg);
    background-repeat: no-repeat;
    background-blend-mode: color, screen;
    min-width: 10%;
   z-index: 10;
    opacity:0.95;
} */



section.profit .container-wrap-row .catalog {
   border: 1px solid lightblue;
width: 270px;
    min-height: 200px;
    display: flex; flex-direction: column;
    justify-content: space-between;
font-size:15px ;

}

section.profit .container-wrap-row .catalog li {
list-style-type:none; /* Убираем маркеры */
text-decoration: none;

}

li ul{
    background-color:#F3F8FD;
padding-left: 65px;

}
li a .azone-first {
   margin-top: 10px;
}
/* первое боковое меню */

.azone{

    padding: 0;
    margin-top: -3px;
}

.azone .material-icons {
    display: block;
    height: 100%;
}

li a .azone .material-icons{
    font-size: small; padding-top: 5px;
}

section.profit .container-wrap-row .catalog li a{
    color:black;


}
/* конец первого бокового меню */

/*Второе боковое меню выборка уточнений*/
#selectMyFixing {
    padding: 10px 10px;
    font-size:12px ;
   /* background-color:#F5F6FF ; */
}
.container-wrap-row .text ul{
    min-width: 250px; min-height: 200px;
    max-width: 300px;
    border: 1px solid lightblue;
    margin: 10px 0 10px 0;
    display: block;
}
.container-wrap-row .text{
    margin-top: 20px;
}
.container-wrap-row .text p{
    padding: 10px 10px 0 20px;

}



/*Конец Второго бокового меню */
.container-right-wpap {
   display: inline-block;
width: 100%;
    max-width: 1140px;
    flex-basis: 800px;
    min-width:271px;
    flex-grow: 1;
}
/* Баннер  */

.container-wrap-banner img{
   /* background: url(../images/features/banner_001.jpg) no-repeat; */
/*min-width: 25%;
    max-width: 1050px; */
    width:100%;

   height:auto;



}

/* Конец Баннера  */


/* Слайдер*/
.flexslider {
    margin: 0; flex-basis: 1000px;
}
.flexslider #flexiselDemo3{

    align-items: flex-end;
    flex-direction: row;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
   /* min-width: 77%; */

    overflow: hidden;
  /*  background-color:#FCF9F8; */
    padding: 0 0 50px 10px;

    margin-left: 280px;

    max-height: 250px;
   /* width: 1000px; */
    width:100%;
    max-width: 1000px;
    min-width: 10%;
    justify-content: space-around;


}

.slider h1 {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
   margin-left: 458px;
    color:black;
    display: inline-block;
border-radius: 50px;

}
.slider h1:hover{

    text-underline: none !important;
    background-color:#F1F1F1;
}


.flexslider #flexiselDemo3 .sliderIn {
  width: 100%;
    min-height: 250px;
   max-width:20%;

    margin: 20px 20px;



}


.flexslider #flexiselDemo3 .sliderIn .pict .layer02{
    position: absolute; /* Абсолютное позиционирование */
    top: 0px; /* Положение от нижнего края */
    left: 0px; /* Положение от правого края */
    line-height: 1px;
}

.flexslider #flexiselDemo3 .sliderIn .pict .layer02 img{
    height: 70px; width: auto;
}

.flexslider #flexiselDemo3 .sliderIn .dopContent {
    color: #816263;font-size: 0.7em;
    display: block;
    text-align: justify;

}

@media all and (max-width: 560px){
.flexslider #flexiselDemo3 .sliderIn{ text-align: center;
  /*  flex-direction: column; */
    /*   max-height: 100%;
        width:150px;
       min-width: 17%; */
      max-width: 150px;}

}



.slider header .like {

   /* background-color: #ffffff; */
    width: 1000px;
   text-align: left;
    padding-left: 231px;
 margin-left: -2px;
    margin-top: 50px;
}
.sliderIn .like_name {
    color: black;font-size: 0.7em;
    font-family: 'Playfair Display', serif;
    text-align: center;
    justify-content: space-around;
}
.item_add {
    color:#816263 !important;font-size: 1em;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}
.flexslider #flexiselDemo3 .sliderIn a img{
    height: 100px; width: auto;
}
/*  Конец Слайдера*/
.profit1{
  /*  margin-top: 50px; */
    width:inherit;
    min-width: 100px;
}




/* секция новых продуктов*/
 #flexslider {
     margin: 0; flex-basis: inherit;
}

#flexslider #slick-slider  {


    align-items: flex-end;
    flex-direction: row;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    /* min-width: 77%; */

    overflow: hidden;
    /*  background-color:#FCF9F8; */
    padding: 0 0 50px 10px;

    margin-left: 280px;

    max-height: 250px;
    /* width: 1000px; */
    width:100%;
    max-width: 1000px;
    min-width: 10%;
    justify-content: space-around;


}
#flexslider #slick-slider .productsLine{
    width: 100%;
    min-height: 250px;
    max-width:20%;

    margin: 20px 20px;
}

/*#flexslider #slick-slider .productsLine li a img {
    height: 90px;width: auto ;

display: block;

}*/

.wrap_01 .biglike {
    text-align: center;
   margin-top: 50px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-left: 494px;
}

.wrap_01 .biglike:hover{
    text-decoration: none !important;
    background-color:#F1F1F1;
    border-radius: 50px;

}

/* подгрузка new*/
#flexslider #slick-slider .productsLine li .pict .layer02 {
    position: absolute; /* Абсолютное позиционирование */
    top: 0px; /* Положение от нижнего края */
    left: 0px; /* Положение от правого края */
    line-height: 1px;


}
#flexslider #slick-slider .productsLine  .pict .layer02 img{
    height: 70px; width: 70px;
}

#flexslider #slick-slider .productsLine .dopContent {
    color: #816263;font-size: 0.7em;
    display: block;
    text-align: justify;

}


@media all and (max-width: 560px){
    #flexslider #slick-slider .productsLine{ text-align: center;

       max-height: 250px;

    max-width: 150px;
       /* flex-direction: column; */
        flex-flow: column;
   }
}

#flexslider #slick-slider .productsLine a img{
    height: 100px; width: auto;
}


    /* секция products_content */



/* вывод категорий по History API */
.wrapCat {

    display: inline-flex !important;
    display: -webkit-flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
 max-width: 1350px !important;
    min-width:600px;
    text-align: center;
    height: auto;
   /* background-color:#FCF9F8 ; */
    background: linear-gradient(to bottom right,#fefefe,#d5d5d5);
  /*  margin: 0px 10px; */
   justify-content: space-around;

}
.wrapCat .categoriesin a img{
    height: 80px; max-width: 60%;
    /*     box-shadow: inset 7px 7px 5px  5px rgba(0,0,0,0.6); Тень */
}

.wrapCat .categoriesin {
    position: relative;
    height: 150px;
    padding: 5px 0;
    /* justify-content: flex-start;   */
    align-items: center;
   flex-basis: 150px;
    text-align: center;


}
@media all and (max-width: 1351px){
    .wrapCat { text-align: center;
        min-width: 34%;
        max-width: 100px;}
}
@media all and (max-width: 560px){
    .wrapCat { text-align: center;
        min-width: 25%;
        max-width: 100px;}
}
/* Вывод описания категорий из таблицы categories */

#contentText {
    display: block;
    max-width:700px; margin: 100px 20px 20px 60px;
    min-width:250px ;
}

/*  мой кабинет*/
.PinkerMain {
    font-size: 12px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}



    /* крайнеее правое меню */
.wrapSubProd{
    display: inline-flex;
    flex-direction: column;

    flex-basis:100%;
    max-width: 270px;
    height: 630px;
    overflow-y:auto;
    background-color:#F5F6FF ;
/*margin-left: 10px;  */
    border: 1px solid #0a568c;
  text-align: left;
    align-items: flex-start;
 padding-left: 10px;

}


/* Этот блок должен быть правым боковым*/
.wrapSubProd .productsin{
    position: relative;
    min-height: 200px;
    /* justify-content: flex-start;   */
margin-top: 10px;
    border-bottom: 1px solid #ccc;

}

.wrapSubProd .productsin a img{
    max-height: 120px; width:auto; max-width: 200px;
margin-top: 15px;
}

.wrapSubProd .productsin .layer02{
    position: absolute; /* Абсолютное позиционирование */
    top: 0px; /* Положение от нижнего края */
    left: 0px; /* Положение от правого края */
    line-height: 1px;

}

.wrapSubProd .productsin .liked-product{
    padding-left: 150px;
    margin-top: -40px;
}

.wrapSubProd .productsin .liked-product .mask{
    margin-top:  10px;
}
.wrapSubProd .productsin .liked-product .mask a img{
   width: 80px;height: auto;
}
.piza header > h1{
    width: 100%;
}
.text-center {
   /* background-color:#E9E9E9 ; */
    font-size: 20px;
    font-weight: 200;
    margin-left: 10px;
   /* width:270px;*/
padding: 10px 0 ;

}
/*#wrap-last {
    display:inline-flex;
    flex-direction: column;
    width: 270px;
    max-width: 100%;
} */
.container-right-edgest {
    background-color:#D7D7D7 ;
    padding-left:10px;
   padding-top: 10px;
    padding-bottom: 10px;
opacity: 1;

}
.container-right-edgest a img{
   margin-left: 120px;
}
/*
#edgest1 {
    display: none;
}*/
.container-end .edge1, .container-end .edge2{
    display: block;
    background-color:#E9E9E9;
margin-left:10px;
height:100px;
}

.container-right-edge {
    opacity: 1;
}



/* Этот блок по значению из левого  бокового меню выводит в центр данные  */
.wrapSubInv,  .wrapProd{
    flex-wrap: wrap;
    flex-direction:row;
    display: flex;
    display: -webkit-flex;

   width: 100%;
    max-width: 1100px !important;
    min-width:600px;
    text-align: center;
  height: auto;
    /* background-color:#FCF9F8 ; */
    background: linear-gradient(to bottom right,#fefefe,#d5d5d5);
    margin: 0px  0  0 10px;
    justify-content: space-around;
}

.wrapSubInv .productsin,.wrapProd .productsin{
display: flex;
    flex-direction: column;

    padding: 20px 0;
    /* justify-content: flex-start;   */

    flex-basis: 350px;
    text-align: center;


}
.wrapSubInv .productsin a .like_name, .wrapProd .productsin a .like_name{
 padding: 10px 5px ;
display: block;
}
.wrapSubInv .productsin .like_img img, .wrapProd .productsin .like_img img{
    height: 100px; max-width: 60%;
 margin-top: 15px;
}
.wrapSubInv .productsin .liked-product,.wrapProd .productsin .liked-product{
    padding-left: 280px;
    margin-top: -40px;
}

.wrapSubInv .productsin .liked-product .mask,.wrapProd .productsin .liked-product .mask{
    margin-top:  10px;
}
.wrapSubInv .productsin .liked-product .mask a img,.wrapProd .productsin .liked-product .mask a img{
    width: 80px;height: auto;
}

/* заголовок продукции и тип сортировки */
.sortie {
    display: flex;
    display: -webkit-flex;
    flex-direction:row;
    flex-wrap: wrap;
justify-content:space-around;
align-items: center;
}

.sortieOption{
    display: flex;
    display: -webkit-flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}
.sortieOption .sortie4{
    margin-left: 50px;
}
.sortieOption .sortie4 img{
    width: 50px;
    height:50px;
}

.sortieOption .sortie1_4{
    width: 35px;
    display:block;
}
.sortieOption .sortie4:hover{
    background-color: #A9EBAF;
    border-radius: 100px;
}
.sortieOption .sortie3 {
    margin-left: 200px;
    margin-right: 250px;
    font-size: 12px;
}
.sortieOption .sortie5 {
    margin-left: 7px;
    margin-right: 10px;
    font-size: 18px;
}
.sortieOption .sortie5 .glyphicon {
    font-size: 24px;
}

.sortieOption .sortie5:hover{
    background-color: lightgrey;


    display: block;
}
/* вывод обычный с перезагрузкой страницы в центральную область */
.wrapProdT01  {

    display: flex;
    display: -webkit-flex;
    flex-direction:row;
    flex-wrap: wrap;
    /*    min-width: 10%; height: 250px;
        max-width:20%; */
    /*  max-width: 1060px;
       min-height:300px; */
    height: auto;
    width: 100%;
    max-width: 1100px;
    /*  height:500px;
   height: 1800px; */
    align-items: center;
    justify-content:flex-start;

    /* min-width: 10%; */
    /*flex-grow: 1;
        flex-basis: 220px;flex-shrink: 0; */
}

.wrapProdT01 .productsinT01 {

    min-height: 333px;
    padding: 10px 5px 10px 5px;
    /* justify-content: flex-start;   */
    align-items: center;
    width: 210px;


  /* height: 365px; */
    text-align: center;

    /* border: 3px solid blue; */

    /*  margin: 7px 20px 10px 20px; */
    -moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
    -webkit-border-radius: 10px; /* закругление для старых Chrome и Safari */
    -khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
    border-radius: 10px;  /* закругление углов для всех, кто понимает */
    border: 3px solid #EAEAEA;
    position: relative;
}
.wrapProdT01 .productsinT01 a img{
   height: 150px; max-width: 190px;
    margin-top:10px;


}
/*.productsinT01 .liked-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


.productsinT01 .liked-product .mask11 .mask110 img  {
   /* position: absolute; */
    display: none;
}

.productsinT01:hover{
    background: #fff;
    border: 3px solid red;

}


.productsinT01 .dopContent {
    position: absolute;
    display: none;
/*display: block; */

    font-size: 0.7em;
    color: #816263;
    /*  width: 350px; */
    width: 100%; max-width: 194px!important;
}



.productsinT01 .dopContent #how-to ul li {
    list-style: none;
}

.productsinT01 .dopContent #how-to ul li {
    display: flex; justify-content: space-between;

}

.productsinT01 .dopContent #how-to ul li div:nth-child(2) {
    flex: 1 0;
    border-bottom: 1px dotted #000;
    height: 1em;
    margin: 0 .4em;
}





.productsinT01:hover .dopContent{
    display: block;
    padding-top: 5px;
}


.productsinT01:hover .liked-product .mask11 .mask110 a{
    display:none;
}
.productsinT01:hover .liked-product .mask11 .mask110 img{
    display:block;
   /* position: absolute; */
    width: 120px; height: 35px;
}


.productsinT01 #moreInfo .layer02{
    position: absolute; /* Абсолютное позиционирование */
    top: 0px; /* Положение от нижнего края */
    left: 0px; /* Положение от правого края */
    line-height: 1px;


}
.productsinT01 #moreInfo .layer02 img{
    width:auto; height:70px ;
}

@media all and (max-width: 1069px){
    .wrapProdT01{ text-align: center;
        max-width: 900px;}
}





@media all and (max-width: 560px){
    .wrapProdT01{ text-align: justify;
        max-width:300px;
    }
}
/* вставка признака sale или new */

.wrapProdT01 .productsinT01 .liked-product .mask11{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    text-align: justify;
}
.wrapProdT01 .productsinT01 .liked-product .mask11 .mask110{
    margin-top: 8px;
}


.wrapProdT01 .productsinT01 .liked-product .mask11 #picture {
    width: 50px; height:50px;
   margin: 0;
}

.productsinT03 .mask11 {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    text-align: justify;
    max-width: 200px;
}

.productsinT03 p{
    margin-top: 20px;
}

.wrapProdT02 .productsinT03 .mask11 .mask110{
    margin-top: 8px;
}

.wrapProdT02 .productsinT03 .mask11 #picture {
    width: 50px; height:50px;
    margin: 0;
}
.wrapProdT02 .productsinT03:hover  .mask11 .mask110 a{
    display:none;
}

.wrapProdT02 .productsinT03 .mask11 .mask110 img {
    position: absolute;
    display: none;
}
.wrapProdT02 .productsinT03:hover  .mask11 .mask110 img{
    display:block;
    position: absolute;
    width: 120px; height: 35px;
}

.wrapProdT02 .productsinT03 .mask11 .mask110 {
    width: 150px; height: 35px;
}
.wrapProdT02 .productsinT03 .mask11 .mask111 {
    width: 80px; height: 35px;
}
/*.wrapProdT01 .productsinT01 .layer001 #tick{

    width:30px; height:auto;
  display:none;
    z-index: 1;
} */
/*.layer001 {
     background: url(../images/features/tick.png) no-repeat;
    width:50px; height:auto;
} */
.layer002{
    font-size:28px;
    border: 2px solid green;
    border-radius: 100%;
padding-left: 5px;
    z-index: 1;

}
/* работа с табличным выводолм продуктов в  #contentHolder  products_table_content */

.wrapProdT02{

   display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;

    -moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
    -webkit-border-radius: 10px; /* закругление для старых Chrome и Safari */
    -khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
    border-radius: 10px;  /* закругление углов для всех, кто понимает */
    border: 3px solid #EAEAEA;
    position: relative;
    flex-basis: 33%;
}

.wrapProdT02 .productsinT02 a img{
    height: 150px;
    width: 190px;
    margin-top:10px;


}

 .wrapProdT02 #moreInfo .layer02 img{
    width: auto; height: 90px;
    position: absolute;
    top: 0; /* Положение от нижнего края */
    left: 0; /* Положение от правого края */
    line-height: 1px;
}
.wrapProdT02 .liked-product{
    width: 100%; max-width: 550px!important;
    margin-top: 20px;
}
.wrapProdT02 .liked-product .dopContent {
    position: absolute;

    display: block;

    font-size: 0.75em;
    color: #816263;
    /*  width: 350px; */
   width:550px;
}



.wrapProdT02  .liked-product .dopContent #how-to ul li {
    list-style: none;
}

.wrapProdT02  .liked-product .dopContent #how-to ul li {
    display: flex; justify-content: space-between;

}

.wrapProdT02  .liked-product .dopContent #how-to ul li div:nth-child(2) {
    flex: 1 0;
    border-bottom: 1px dotted #000;
    height: 1em;
    margin: 0 .4em;
}


/*  работа с модальным блоком купить товар  */
.modal-body {
    padding:5px 20px 20px 50px !important;

}

span {cursor:pointer; }
.numberModal{
    margin:100px 30%;
}
 .minus, .plus{
    width:10px;
    height:10px;
    background:#f2f2f2;
    border-radius:4px;
    padding:3px 5px 3px 5px;
    border:1px solid #ddd;
}
#unique{
    height:24px;
    border:1px solid #ddd;
    border-radius:4px;
    padding:0 2px;

}

/*  ссылка подробнее вывод продукта  второе модальное окно*/
.modalMain {position: absolute; /* overflow-y:auto; */ width: 840px; max-width: 100%;  height:562px; max-height: 100%; left: 25%; top: -100%; padding: 20px; background: #fff; border: 1px solid #333; z-index: 9999; transition: all 0.5s ease-in;}
.overflow {width: 100%; height: 100%; z-index: 1041; background: rgba(0,0,0,0.7); position: absolute; top: 0;}

.modalMain2 {position: absolute; /* overflow-y:auto; */ width: 940px; max-width: 100%;  height:200px; max-height: 100%; left: 25%; top: -100%; padding: 20px; background: #fff; border: 1px solid #333; z-index: 9999; transition: all 0.5s ease-in;}
.overflow2 {width: 100%; height: 100%; z-index: 2045; background: rgba(0,0,0,0.7); position: absolute; top: 0;}
.wrap_02{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}
.right_side1{
    width: 295px;
    max-width: 100%;

}
.right_side2 {
    padding: 20px 0 20px 10px;
    display: block;
    width: 390px;
    line-height: 1.5;

    /* background-color: #EBE8E7; */
   /* margin: 20px 0px 20px 50px; */
}
.right-side3 {
    padding: 20px;
    display: block;
    /*   background-color: #EBE8E7; */
    margin: 20px 20px 80px 90px;

}
.slidek {
    width: 220px; height: auto;
}


.right_side_inn {
    display: block;
    width: 384px;
    margin-right: 12px;
    overflow-y:auto; height: 312px;
}
.right_side_inn .span__in0 {
    display: block; width: 357px;height: 20px;
    background:#E1E1E2;
}
 .tab_text_odd {
    background:#E1E1E2; width: 357px;
}

.right_side_inn .span {
    line-height: 2.5;
}
.container101{
    width:1170px; max-width: 100%;
}

.wrap_02 .right_side2 .purchase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Первое модальное окно*/

/*
.modal-dialog .modal-content .modal-body {
  overflow-y:scroll; height: 450px;
} */
.pq17 {
    overflow-y:auto;   max-height: 400px;
}

/*Футер */
#footerMy .outfooter {
    display: flex;
    display: -webkit-flex;
    flex-direction:row;
    flex-wrap: wrap;
    min-height: 200px;
    background-color: #FCF9F8;
    padding-top: 50px;
    font-size: 12px;
    color: #627D97;
    justify-content: space-between;
margin-top: 50px;

    border: 1px solid #ADD8E6;

}
.infooter1 a, .infooter1 p{

    text-align: left;
    padding-left: 50px;

}

.infooter2 .footer02 {

    text-align: left;

}
.infooter3 .footer03 {

    text-align: left;
    justify-content: flex-start;
padding-right: 50px;
}
.footer02, .footer03 {
    color:#627D97 !important;
}



/* сравнение товаров*/

    .wrapperProducts {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* max-width: 100%; */
        width: 100%;
        max-width: 1060px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        margin: 0 160px 0 10px;

        /* margin-top: 20px; */
    }


.wrapperProducts  .productsinT021{

    font-size: 14px;
    display: flex;
    flex-direction: column;
  /*  max-height: 1580px; */


}

.wrapperProducts  .productsinT021 .orwrap  {
    display: flex; flex-direction: row;
margin-bottom: 10px;height: 40px;
    text-align: left;

}

.wrapperProducts  .productsinT021 .orwrap #swq, .productsinT021 .orwrap .sw {
    width:260px;
}
/*.wrapperProducts  .productsinT021 .urg1,.wrapperProducts  .productsinT021 .urg2{
    position: fixed; top:0; left: 294px;
} */


.wrapperProducts .productsinT021  #swq01 img{
    height: 90px; width:auto;


}
.wrapperProducts .productsinT021 .orwrap .sw{
    position: relative;

}

.wrapperProducts .productsinT021 .orwrap .sw .layer02 img{
    height: 50px; width:50px;
    position: absolute;
    top: 0;

}

.wrapperProducts .productsinT021 .orwrap .diffName {
   width:175px; color:#005691 ; font-weight: 600;
    /*border-right: 1px solid #eaeaea;padding-right:10px ; */

}

.wrapperProducts .productsinT021 .orwrap .swq{
   /* flex: 0 2 70px; */height: 40px; display: block;
}

.productsinT021 .result .mask{
display: flex;
  flex-direction: row;
    height: 100px;
    align-items: flex-end;
}
.result .mask img{
    height: 30px; width: auto;

}


/*.result .mask a:nth-child(2){
    margin-left: -175px;
} */
/*.inwrapName ul:nth-child(odd){
    background: #EEE;
} */




/*.wrapperProducts .inwrapInvent .mask img{
  position: absolute;
    height: 30px; width: auto;
    margin-top: 30px;
   top: 1571px;
} */
#delDiff11 {
    display: flex;
   flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}


#delDiff11 .sravn h1{
    color:#005691; font-weight: 600;font-size: 24px;
  /*  margin-left: 18px; */
    margin-bottom: 20px;

}

#clearMain img{
    width:100px;
    height: 25px;
}

#delDiff{
    color:red; font-weight: 600;font-size: 24px;
    margin-left: -100px;
}
#delDiff:hover{

  background-color: seashell;

}


/* Списки сравнений*/
.titleDif{
   margin: 20px 280px;
    font-weight: 400;
    font-size: 24px;
    color:#005691 ;
}

.wrapperCompareProducts {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5px;
}
.wrapperCompareProducts .productsCompare {
    display: flex; flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5px;
    padding-bottom: 55px;
    padding-right: 14px;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

.wrapperCompareProducts .productsCompare .nameSclad {
    display: flex; flex-direction: column;
    line-height: 1.29em;
    margin: 13px 0 0 10px;

}

.wrapperCompareProducts .productsCompare .nameSclad #swq01{
    color:#941B1E; font-weight: 600; font-size: small;

}

.wrapperCompareProducts .productsCompare .nameSclad .scladYes{
    color:#005691;  font-size: small;
}

.wrapperCompareProducts .productsCompare .nameSclad .item_price {


    margin-top: 10px;
    background-color:#F6F8FC;
 display: inline!important;
}


 .wrapperCompareProducts .productsCompare #delButton a img{
   width: 25px; height:25px; align-self: flex-start;
}

.piza .wrapperCompareProducts .productsCompare #pictures img {
    width: 90px; height: auto;
}

#difbutton img{
    width: 275px; height: auto;
    margin: 20px 0 0 50px;
}

#delDiff11 #clearMain button{
    background-color: white; border-radius: 10px;
    border: 1px solid grey;
}

