
/* remember to define focus styles! */
* {
    box-sizing: border-box;
}
body {width: 100%;

background-color: #ededed;
}

main {
    width: 75%;  margin: 0 auto;
    background-color: #fff;
font-family:"Bosch Sans Light","Helvetica Neue",Helvetica,Arial,sans-serif!important;
    color: #000;
}

nav .line {

    background-image:   url( https://www.bosch-professional.com/resources/img/brand/supergraphic_horizontal.svg);
    background-position: 0 -100px;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: table;
    height: 15px;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
   margin: 10px 0 30px 0;
    z-index: 10;

}

.wrap {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wrap .logo .ltitle{
    width: 250px;
}


.menu-call .menu-wrap{
    display: flex; align-items: center;
    display: -webkit-flex;
}

.wrap .menu-call p {
    padding: 10px 10px 2px 0;
}
.menu-call .menu-wrap .search {
    display: inline-block;
    height: 22px;
    border: 0px solid #fff;
    border-bottom: 1px solid #ccc;
    width:250px;
    cursor: pointer;
padding-left: 5px;
    margin-left: 45px;
    font-size: 12px;
}

.menu-call a {
    color: black;
    text-decoration: none;
}
/* .menu-search-window span {
     content: ''; width: 300px;
     height: 1px; background-color: #0c0c0c;
     display: inline-block;
    margin: 0 10px 0 0;
     line-height: 0;
     font-size: 0;
 } */

/*.menu-search-art i:before{
    content: ''; width: 100px;
    height: 1px; background-color: #0c0c0c;
    display: inline-block;
    margin-right:10PX;
} *


/* меню синяя полоса - главная */
nav .wrap1 menu1 {
   margin: 0px 0px 10px 0;
    text-decoration: none;

    align-items: center;
   background-color: #005691;
    /*   background-image: linear-gradient(to top, rgba(30,87,153,0), rgba(30,87,153,0.8), rgba(30,87,153,1),
      rgba(30,87,153,1), rgba(41,137,216,1), rgba(30,87,153,1), rgba(30,87,153,1),
      rgba(30,87,153,0.8),rgba(30,87,153,0));
      color: #fff; padding: 10px;*/
      flex-wrap: wrap;
      display: flex;

    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px ;
}


.wrap1 menu1 li a{
    color: #fff;
    text-decoration: none;
}
.wrap1 menu1 .pointer:hover{
    background-color: white;

     padding: 9px 0 8px 0;
}

.wrap1 menu1 .pointer p:hover {
color: #005691;
}
.wrap1 menu1 .pointer1:hover{
    background-color: white;

    padding: 8px 0 8px 0px;
}
.wrap1 menu1 .pointer1 a:hover {
    color: #005691;
}
/* конец  меню синяя полоса - главная */


@media all and (max-width: 560px){
    nav .logo{ text-align: center;}
}


/* панель каталог ...*/
section.profit .container-wrap{
    display: flex; flex-direction: row;
    display: -webkit-flex;
    width:100%;
    flex-wrap: wrap;
}
/*section.profit .container-wrap .container-wrap-row {
    background-image: url(../images/features/images0012.jpg);
    background-repeat: no-repeat;
    background-blend-mode: color, screen;
    min-width: 10%;
   z-index: 10;
    opacity:0.95;
} */



section.profit .container-wrap-row .catalog {
   border: 1px solid lightblue;
width: 270px; min-height: 200px;
    display: flex; flex-direction: column;
    justify-content: space-between;
font-size:15px ;

}

section.profit .container-wrap-row .catalog li {
list-style-type:none; /* Убираем маркеры */
text-decoration: none;

}

li ul{
    background-color:#F3F8FD;
padding-left: 65px;

}
li a .azone-first {
   margin-top: 10px;
}
/* первое боковое меню */

.azone{

    padding: 0;
    margin-top: -3px;
}

.azone .material-icons {
    display: block;
    height: 100%;
}

li a .azone .material-icons{
    font-size: small; padding-top: 5px;
}

section.profit .container-wrap-row .catalog li a{
    color:black;


}
/* конец первого бокового меню */

/*Второе боковое меню выборка уточнений*/
#selectMyFixing {
    padding: 10px 10px;
    font-size:12px ;
   /* background-color:#F5F6FF ; */
}
.container-wrap-row .text ul{
    min-width: 250px; min-height: 200px;
    max-width: 300px;
    border: 1px solid lightblue;
    margin: 10px 0 10px 0;
    display: block;
}
.container-wrap-row .text{
    margin-top: 20px;
}
.container-wrap-row .text p{
    padding: 10px 10px 0 20px;

}



/*Конец Второго бокового меню */
.container-right-wpap {
    display: block;
width: 100%;
    max-width: 800px;
    min-width:600px;
    flex-grow: 1;
}
/* Баннер  */

.container-wrap-banner img{
   /* background: url(../images/features/banner_001.jpg) no-repeat; */
min-width: 25%;
    max-width: 1000px;

   height:500px;



}

/* Конец Баннера  */


/* Слайдер*/



.flexslider {
    margin: 0;
}
.flexslider #flexiselDemo3{

    align-items: flex-end;
    flex-direction: row;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    min-width: 77%;
    overflow: hidden;
    background-color:#FCF9F8;
    padding: 30px 0 50px 10px;
    margin-top: 45px;
   /* margin-left: 20px; */

    height: 300px;
    width: 1000px;
    justify-content: space-around;


}
.slider h1 {
    margin-top: 50px;
    font-size: 20px;

}
.flexslider #flexiselDemo3 .sliderIn{
    min-width: 10%; height: 250px;
    max-width:20%;
    margin: 20px 10px;
    color: black;font-size: 1em;
    font-family: 'Playfair Display', serif;
   /* text-align: center; */
    justify-content: space-around;
    font-size: 14px;
}

@media all and (max-width: 560px){
.flexslider #flexiselDemo3 .sliderIn{ text-align: center;
    max-width: 100%;}
}

.flexslider #flexiselDemo3 .sliderIn a img .img-responsive{
    max-height: 150px; max-width: 200px;
    margin-left: 10px;
}

.slider header .text-center {

   /* background-color: #ffffff; */
    width: 1000px;
   text-align: left;
    padding-left: 231px;
 margin-left: -2px;
    margin-top: 20px;
}
.sliderIn a.like_name {
    color: black;font-size: 1em;
}
.item_add {
    color:black;font-size: 1.2em;
}
.flexslider #flexiselDemo3 .sliderIn a img{
    height: 170px;
}
/*  Конец Слайдера*/
.profit1{
  /*  margin-top: 50px; */
    width:1000px;
    min-width: 100px;
}

/* секция новых продуктов*/
.slick-slider {
    display: flex;
    flex-wrap: wrap; flex-direction: row;


}

.slick-slider .productsLine {

    /* max-width: 25%; */
    min-width: 150px;
    max-width: 20%;

    justify-content: space-around;
    padding: 20px 5px 80px 5px;


    background-color:#FCF9F8 ;
    margin: 10px ;
    position: relative;
    height: 250px;
}
.slick-slider .productsLine a img{
    height: auto; width: 150px;
display: block;
}

.wrap_01 .text-center {
    text-align: left;
    padding-left: 231px;
    margin-left: -2px;
    margin-top: 20px;
}
/* подгрузка new*/
.slick-slider .productsLine .layer02 {
    position: absolute; /* Абсолютное позиционирование */
    top: 0px; /* Положение от нижнего края */
    left: 0px; /* Положение от правого края */
    line-height: 1px;
}

.slick-slider .productsLine .dopContent {
    color: #816263;font-size: 0.7em;
}
.biglike{
    text-align: center;

    font-size: 20px;
}

@media all and (max-width: 560px){
    .slick-slider { text-align: center;
  min-width: 17%;
    max-width: 100px;}
}
@media screen and (device-width: 1024px) {
    div {
        width: 980px;
    }
}
    /* секция products_content */



/* вывод категорий по History API */
.wrapCat {

    display: inline-flex !important;
    display: -webkit-flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
 max-width: 1100px !important;
    min-width:600px;
    text-align: center;
    height: auto;
   /* background-color:#FCF9F8 ; */
    background: linear-gradient(to bottom right,#fefefe,#d5d5d5);
    margin: 0px 10px;
   justify-content: space-around;

}
.wrapCat .categoriesin a img{
    height: 80px; max-width: 60%;
}

.wrapCat .categoriesin {
    position: relative;
    height: 150px;
    padding: 5px 0;
    /* justify-content: flex-start;   */
    align-items: center;
   flex-basis: 150px;
    text-align: center;


}
@media all and (max-width: 1351px){
    .wrapCat { text-align: center;
        min-width: 34%;
        max-width: 100px;}
}
@media all and (max-width: 560px){
    .wrapCat { text-align: center;
        min-width: 25%;
        max-width: 100px;}
}
/* Вывод описания категорий из таблицы categories */

#contentText {
    display: block;
    max-width:700px; margin: 100px 20px 20px 60px;
    min-width:250px ;
}

/*  мой кабинет*/
.PinkerMain {
    font-size: 12px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}



/* крайнеее правое меню */
.wrapSubProd{
    display: flex;
    flex-direction: column;
    width:270px;
    height: 630px;
    overflow-y:auto;
    background-color:#F5F6FF ;
margin-left: 10px;
    border: 1px solid #0a568c;
  text-align: left;
    align-items: flex-start;
 padding-left: 10px;

}


/* Этот блок должен быть правым боковым*/
.wrapSubProd .productsin{
    position: relative;
    min-height: 200px;
    /* justify-content: flex-start;   */
margin-top: 10px;
    border-bottom: 1px solid #ccc;

}

.wrapSubProd .productsin a img{
    max-height: 120px; width:auto; max-width: 200px;
margin-top: 15px;
}
.wrapSubProd .productsin .liked-product{
    padding-left: 150px;
    margin-top: -40px;
}

.wrapSubProd .productsin .liked-product .mask{
    margin-top:  10px;
}
.wrapSubProd .productsin .liked-product .mask a img{
   width: 80px;height: auto;
}
.piza header > h1{
    width: 100%;
}
.text-center {
    background-color:#E9E9E9 ;
    margin-left: 10px;
padding: 10px 0 ;
}
.container-right-edgest {
    background-color:#D6D6D6 ;
    margin-left:10px;
   padding-top: 10px;
    padding-bottom: 10px;
opacity: 1;

}
.container-right-edgest a img{
   margin-left: 120px;
}
/*
#edgest1 {
    display: none;
}*/


#container-right-edge {
    opacity: 1;
}



/* Этот блок по значению из левого  бокового меню выводит в центр данные  */
.wrapSubInv,  .wrapProd{
    flex-wrap: wrap;
    flex-direction:row;
    display: flex;
    display: -webkit-flex;

   width: 100%;
    max-width: 1100px !important;
    min-width:600px;
    text-align: center;
  height: auto;
    /* background-color:#FCF9F8 ; */
    background: linear-gradient(to bottom right,#fefefe,#d5d5d5);
    margin: 0px  0  0 10px;
    justify-content: space-around;
}

.wrapSubInv .productsin,.wrapProd .productsin{
display: flex;
    flex-direction: column;

    padding: 20px 0;
    /* justify-content: flex-start;   */

    flex-basis: 350px;
    text-align: center;


}
.wrapSubInv .productsin a .like_name, .wrapProd .productsin a .like_name{
 padding: 10px 5px ;
display: block;
}
.wrapSubInv .productsin .like_img img, .wrapProd .productsin .like_img img{
    height: 100px; max-width: 60%;
 margin-top: 15px;
}
.wrapSubInv .productsin .liked-product,.wrapProd .productsin .liked-product{
    padding-left: 280px;
    margin-top: -40px;
}

.wrapSubInv .productsin .liked-product .mask,.wrapProd .productsin .liked-product .mask{
    margin-top:  10px;
}
.wrapSubInv .productsin .liked-product .mask a img,.wrapProd .productsin .liked-product .mask a img{
    width: 80px;height: auto;
}
/*  работа с модальным блоком купить товар */
.modal-body {
    padding:5px 20px 20px 20px !important;

}

span {cursor:pointer; }
.numberModal{
    margin:100px 30%;
}
 .minus, .plus{
    width:10px;
    height:10px;
    background:#f2f2f2;
    border-radius:4px;
    padding:3px 5px 3px 5px;
    border:1px solid #ddd;
}
#unique{
    height:24px;
    border:1px solid #ddd;
    border-radius:4px;
    padding:0 2px;

}

/*  ссылка подробнее вывод продукта  второе модальное окно*/
.modalMain {position: absolute; /* overflow-y:auto; */ width: 840px; max-width: 100%; height:562px; max-height: 100%; left: 25%; top: -100%; padding: 20px; background: #fff; border: 1px solid #333; z-index: 9999; transition: all 0.5s ease-in;}
.overflow {width: 100%; height: 100%; z-index: 9998; background: rgba(0,0,0,0.7); position: absolute; top: 0;}

.wrap_02{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}
.right_side1{
    width: 295px;
    max-width: 100%;

}
.right_side2 {
    padding: 20px 0 20px 10px;
    display: block;
    width: 500px;
    line-height: 1.5;

    /* background-color: #EBE8E7; */
   /* margin: 20px 0px 20px 50px; */
}
.right-side3 {
    padding: 20px;
    display: block;
    /*   background-color: #EBE8E7; */
    margin: 20px 20px 80px 90px;

}
.slidek {
    width: 220px; height: auto;
}


.right_side_inn {
    display: block;
    width: 480px;
    overflow-y:auto; height: 300px;
}
.right_side_inn .span__in0 {
    display: block; width: 462px;height: 20px;
    background:#E1E1E2;
}
 .tab_text_odd {
    background:#E1E1E2; width: 462px;
}

.right_side_inn .span {
    line-height: 2.5;
}
.container101{
    width:1170px; max-width: 100%;
}